.card{
    width: 250px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card img{
    height: 200px;
    min-width: 230px;
}

.card-subtitle {
    font-size: 13px;
}

.badge {
    font-size: 10px;
}